.video-bg {
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: -100; 
  width: 100%; 
  height: 100%;
}

.video-bg video {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  /* You'll need to implement a solution in JavaScript to actually switch the video source for smaller screens. CSS alone can't accomplish this. */
}

.overlay-text {
  position: absolute;
  bottom: 20px; /* Position text 20px from the bottom of the screen */
  left: 20px; /* Position text 20px from the left of the screen */
  color: #fff; /* White color for the text */
  text-align: center;
  font-size: 0.3em; /* Adjust size as needed */
  text-shadow: 2px 2px 4px #000; /* Optional: add a shadow to make the text easier to read */
  font-family: 'Poppins', sans-serif; /* Use the Poppins font */
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

#landing-page {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;
}

#landing-page button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #2a2424;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#main-page button {
  background-color: transparent;
  border: 0px solid #212121;
  color: #949393;
}

#landing-page button:hover {
  background-color: #171717;
}

#main-page {
  display: none;
}

.center-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-button {
  display: none;
  /* additional styles for the button go here */
}





